{:deps {io.github.borkdude/quickblog
        #_"You use the newest SHA here:"
        {:git/sha "792f952be8fe0f3326b293dde3251f6a09deaf0c"}}
 :tasks
 {:requires ([quickblog.cli :as cli])
  :init (def opts {:blog-title "Philipp Küng"
                   :blog-root "https://philippkueng.ch"
                   :blog-author "Philipp Küng"
                   :blog-description "Parent and Software Engineer with lots of interests"
                   :force-render true})
  quickblog {:doc "Start blogging quickly! Run `bb quickblog help` for details."
             :task (cli/dispatch opts)}}}
