---
layout: default
---

<div class="blog-index">
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}
  <nav id="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <a href="/" title="Previous Page">&laquo; Previous</a>
      {% else %}
      <a href="/page{{ paginator.previous_page }}/" title="Older">&larr; Older</a>
      {% endif %}
    {% endif %}
    <a href="/blog/archives">Blog Archives</a>
    {% if paginator.next_page %} 
    <a href="/page{{ paginator.next_page }}/" title="Newer">Newer &rarr;</a>
    {% endif %} 
  </nav>
</div>
