<div id="contact">
  <ul>
    <li>{{ site.author }}</li>
    <li>{{ site.subtitle }}</li>
    <li><a href="mailto:hi@philippkueng.ch">Contact</a> | <a href="{{ site.subscribe_rss }}">Subscribe</a></li>
  </ul>
  <ul>
    <li><a href="http://twitter.com/philippkueng">twitter.com/philippkueng</a></li>
    <li><a href="https://github.com/philippkueng">github.com/philippkueng</a></li>
    <li><a href="http://www.flickr.com/photos/agentcmos/">flickr.com/photos/agentcmos</a></li>
  </ul>
</div>
<p>
  <span class="credit">Proudly powered by <a href="http://octopress.org">Octopress</a></span>
</p>
