RewriteEngine on
RewriteRule ^favicon.ico$ /favicon.png [R=301,NC]
RewriteRule ^favicon.gif$ /favicon.png [R=301,NC]
RewriteRule ^images/favicon.gif$ /favicon.png [R=301,NC]
RewriteRule ^syndication.axd$ /atom.xml [R=301,NC]
RewriteRule ^post.aspx$ / [R=301,NC]
RewriteRule ^contact.aspx$ / [R=301,NC]
RewriteRule ^login.aspx$ / [R=301,NC]
RewriteRule ^file.axd$ / [R=301,NC]
RewriteRule ^sitemap.axd$ /sitemap.xml [R=301,NC]
RewriteRule ^themes/philippkueng_blue/css.axd$ / [R=301,NC]
RewriteRule ^apml.axd$ / [R=301,NC]
RewriteRule ^js.axd$ / [R=301,NC]
RewriteRule ^trackback$ / [R=301,NC]
RewriteRule ^opensearch.axd$ / [R=301,NC]
RewriteRule ^images/9-7-2010%202-24-21%20PM.png$ /images/9-7-2010%202-24-21%20PM.png [R=301,NC]
RewriteRule ^sitemap.xml.gz$ /sitemap.xml [R=301,NC]
RewriteRule ^image.axd$ / [R=301,NC]
RewriteRule ^post/taking-care-of-relationships-is-not-outsourceable.aspx$ /taking-care-of-relationships-is-not-outsourceable.html [R=301,NC]
RewriteRule ^post/makeopendatach-2011.aspx$ /makeopendatach-2011.html [R=301,NC]
RewriteRule ^post/photoblog-sfo-2-yvr.aspx$ /photoblog-sfo-2-yvr.html [R=301,NC]
RewriteRule ^post/agile-livin-shipped.aspx$ /agile-livin-shipped.html [R=301,NC]
RewriteRule ^post/procrastination-is-so-yesterday.aspx$ /procrastination-is-so-yesterday.html [R=301,NC]
RewriteRule ^post/blame-the-lizard-brain-but-do-it!.aspx$ /blame-the-lizard-brain-but-do-it!.html [R=301,NC]
RewriteRule ^post/commit-early-and-often.aspx$ /commit-early-and-often.html [R=301,NC]
RewriteRule ^post/deploy-blogenginenet-on-ubuntu-1004-lts.aspx$ /deploy-blogenginenet-on-ubuntu-1004-lts.html [R=301,NC]
RewriteRule ^post/a-mashup-is-not-a-blog.aspx$ /a-mashup-is-not-a-blog.html [R=301,NC]
RewriteRule ^post/migrate-the-blogenginenet-commenting-system-over-to-disqus.aspx$ /migrate-the-blogenginenet-commenting-system-over-to-disqus.html [R=301,NC]
RewriteRule ^post/4sqday-2011-in-zurich.aspx$ /4sqday-2011-in-zurich.html [R=301,NC]
RewriteRule ^post/facebook-e2809clikee2809d-button-gets-additional-functionality-and-messes-up-the-timeline.aspx$ /facebook-e2809clikee2809d-button-gets-additional-functionality-and-messes-up-the-timeline.html [R=301,NC]
RewriteRule ^post/hacking-for-fun-and-profit.aspx$ /hacking-for-fun-and-profit.html [R=301,NC]
RewriteRule ^post/how-to-reenable-the-explorer-jump-list-on-windows-7.aspx$ /how-to-reenable-the-explorer-jump-list-on-windows-7.html [R=301,NC]
RewriteRule ^post/google-killer-des-eigenen-fortschritts.aspx$ /google-killer-des-eigenen-fortschritts.html [R=301,NC]
RewriteRule ^post/good-bye-failwhale.aspx$ /good-bye-failwhale.html [R=301,NC]
RewriteRule ^post/binare-firmen-sind-erfolgreicher.aspx$ /binare-firmen-sind-erfolgreicher.html [R=301,NC]
RewriteRule ^post/qdds-aka-quer-durch-die-schweiz-mit-bireweich.aspx$ /qdds-aka-quer-durch-die-schweiz-mit-bireweich.html [R=301,NC]
RewriteRule ^post/twittboat-2010.aspx$ /twittboat-2010.html [R=301,NC]
RewriteRule ^post/creativemorning-in-zurich.aspx$ /creativemorning-in-zurich.html [R=301,NC]
RewriteRule ^post/bringt-uns-microsoft-das-synchronisations-nirvana.aspx$ /bringt-uns-microsoft-das-synchronisations-nirvana.html [R=301,NC]
RewriteRule ^post/gps-tagging-fur-bilder-auf-dem-htc-hd2-aktivieren.aspx$ /gps-tagging-fur-bilder-auf-dem-htc-hd2-aktivieren.html [R=301,NC]
RewriteRule ^post/livestream-vs-kein-livestream-nicht-erfolg-vs-erfolg.aspx$ /livestream-vs-kein-livestream-nicht-erfolg-vs-erfolg.html [R=301,NC]
RewriteRule ^post/website-mit-wget-und-einer-batch-datei-im-parallel-modus-sichern.aspx$ /website-mit-wget-und-einer-batch-datei-im-parallel-modus-sichern.html [R=301,NC]
RewriteRule ^post/mathematik-formeln-mit-word-und-shortcuts-erstellen.aspx$ /mathematik-formeln-mit-word-und-shortcuts-erstellen.html [R=301,NC]
RewriteRule ^post/Mathematik-Formeln-mit-Word-und-Shortcuts-erstellen.aspxindex.php$ /mathematik-formeln-mit-word-und-shortcuts-erstellen.html [R=301,NC]
RewriteRule ^post/spam-filter-in-gmail-ausschalten.aspx$ /spam-filter-in-gmail-ausschalten.html [R=301,NC]
RewriteRule ^post/bethemayorcom.aspx$ /bethemayorcom.html [R=301,NC]
RewriteRule ^post/erstes-tweetupaarau.aspx$ /erstes-tweetupaarau.html [R=301,NC]
RewriteRule ^post/chrome-web-store-der-anfang-vom-ende-von-apple.aspx$ /chrome-web-store-der-anfang-vom-ende-von-apple.html [R=301,NC]
RewriteRule ^post/subversion-verzeichnisse-in-filezilla-ausblenden.aspx$ /subversion-verzeichnisse-in-filezilla-ausblenden.html [R=301,NC]
RewriteRule ^post/docscom-der-google-docs-killer.aspx$ /docscom-der-google-docs-killer.html [R=301,NC]
RewriteRule ^post/philippkuengch-in-neuem-glanz.aspx$ /philippkuengch-in-neuem-glanz.html [R=301,NC]
RewriteRule ^post/philippkuengch-in-neuem-Glanz.aspxindex.php$ /philippkuengch-in-neuem-glanz.html [R=301,NC]
RewriteRule ^post/designer-und-entwickler-vs-designer-oder-entwickler.aspx$ /designer-und-entwickler-vs-designer-oder-entwickler.html [R=301,NC]
RewriteRule ^post/foursquareday.aspx$ /foursquareday.html [R=301,NC]
RewriteRule ^post/nervige-email-signatur-auf-windows-mobile-htc-ausschalten.aspx$ /nervige-email-signatur-auf-windows-mobile-htc-ausschalten.html [R=301,NC]
RewriteRule ^post/foursquare-blogenginenet-widget-version-03.aspx$ /foursquare-blogenginenet-widget-version-03.html [R=301,NC]
RewriteRule ^post/Foursquare-BlogEngineNET-widget-version-03.aspxindex.php$ /foursquare-blogenginenet-widget-version-03.html [R=301,NC]
RewriteRule ^post/autosalon-2010-sind-reine-elektroautos-die-zukunft.aspx$ /autosalon-2010-sind-reine-elektroautos-die-zukunft.html [R=301,NC]
RewriteRule ^post/foursquare-blogenginenet-widget-version-02.aspx$ /foursquare-blogenginenet-widget-version-02.html [R=301,NC]
RewriteRule ^post/ted-vortrag-uber-augmented-reality-karten.aspx$ /ted-vortrag-uber-augmented-reality-karten.html [R=301,NC]
RewriteRule ^post/foursquare-blogenginenet-widget.aspx$ /foursquare-blogenginenet-widget.html [R=301,NC]
RewriteRule ^post/widescreen-wallpaper-von-british-columbia-canada.aspx$ /widescreen-wallpaper-von-british-columbia-canada.html [R=301,NC]
RewriteRule ^post/zune-software-cache-verschieben.aspx$ /zune-software-cache-verschieben.html [R=301,NC]
RewriteRule ^post/automatische-mysql-backups-mit-mysql-administrator-unter-windows-vista-7.aspx$ /automatische-mysql-backups-mit-mysql-administrator-unter-windows-vista-7.html [R=301,NC]
RewriteRule ^post/webspace-mit-wget-und-einer-batch-datei-sichern.aspx$ /webspace-mit-wget-und-einer-batch-datei-sichern.html [R=301,NC]
RewriteRule ^post/oracle-sun-und-openofficeorg.aspx$ /oracle-sun-und-openofficeorg.html [R=301,NC]
RewriteRule ^post/landschaftstreffen-2010-in-siebnen.aspx$ /landschaftstreffen-2010-in-siebnen.html [R=301,NC]
RewriteRule ^post/eine-woche-mit-jolicloud-erfahrungsbericht.aspx$ /eine-woche-mit-jolicloud-erfahrungsbericht.html [R=301,NC]
RewriteRule ^post/starten-des-scanvorgangs-beim-drucken-der-schnellwahltaste-an-einem-canon-scanner-unter-windows-vista-7.aspx$ /starten-des-scanvorgangs-beim-drucken-der-schnellwahltaste-an-einem-canon-scanner-unter-windows-vista-7.html [R=301,NC]
RewriteRule ^post/xbox-hardware-architektur-mit-nick-baker.aspx$ /xbox-hardware-architektur-mit-nick-baker.html [R=301,NC]
RewriteRule ^post/using-the-zunehd-outside-the-us-with-error-code-c00d11cd.aspx$ /using-the-zunehd-outside-the-us-with-error-code-c00d11cd.html [R=301,NC]
RewriteRule ^post/visual-studio-2008-sp1-installation-failed-on-x64-windows.aspx$ /visual-studio-2008-sp1-installation-failed-on-x64-windows.html [R=301,NC]
RewriteRule ^post/hello-world.aspx$ /hello-world.html [R=301,NC]
