$noise-bg: none;

$main-bg: #fff !default;
$page-bg: #fff !default;

$header-bg: #fff !default;
$title-color: #222 !default;

$nav-bg: #fff !default;
$nav-bg-front: none;
$nav-bg-back: none;
$nav-border-bottom: #222;

$page-border-bottom: #fff;
// $footer-border-bottom: #fff;
$footer-border-top: #000;